lecture3/hello/__pycache__/
lecture3/hello/migrations/__pycache__/
lecture3/lecture3/__pycache__/
lecture3/newyear/__pycache__
lecture3/newyear/migrations/__pycache__/
lecture3/tasks/__pycache__/
lecture3/tasks/migrations/__pycache__/
lecture4/airline/airline/__pycache__/
lecture4/airline/flights/__pycache__/
lecture4/airline/flights/migrations/
lecture4/airline/users/__pycache__/
lecture4/airline/users/migrations/__pycache__/
lecture4/airline/venv/
lecture4/venv/